{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}
{% block title %}
  Add Customers
{% endblock title %}

{% block content %}
<!-- add_stock.html -->

<div class="container-fluid mb-5 ">

<div class="row">
  {% include 'accounts/accounts_menu.html' %}
    <div class="col-5 ms-5 ">
      <h2 class="text-center  alert alert-info">Add Customer</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}

        <input type="submit" class="btn btn-success" {% if update %} value="Update Customer" {% else %} value="Add Customer" {%endif %}>
        <a href= "/customers/" class="btn btn-warning" >Customer</a>
      </form>

    </div>
    </div>

    <div class="col-12 mt-3 ">
      <h2 class="text-center alert alert-info">Customers List</h2>

      {% if mydata %}
      <table class="table table-stripped table-bordered" id="petrol-table">
        <colgroup>
          <col width="10%">
          <col width="15%">    
          <col width="15%">    
          <col width="15%">    
          <col width="15%">    
          
          {% if perms.home.change_customer or perms.home.change_customer %}
          {% if update %} {% else %}<col width="25%"> {% endif %}
          {% endif %}

      </colgroup>
        <thead>
          <tr class="bg-primary bg-gradient text-light text-center fs-5">
            <td class="text-center fs-5" >Sr.No.</td>
            <td class="text-center fs-5" >Company Name</td>
            <td class="text-center fs-5" >Owner Name</td>
            <td class="text-center fs-5" >Contact</td>
            <td class="text-center fs-5" >Adress</td>
           
            {% if update %} {% else %}<td class="text-center fs-5" >Action</td> {% endif %}
             
            
          </tr>
        </thead>
        <tbody>

          {% if update %}
          <tr>
            <td class="text-center fs-5" >{{mydata.id}}</td>
            <td class="text-center fs-5">{{mydata.coname|capitalize_after_space}}</td>
            <td class="text-center fs-5">{{mydata.name|capitalize_after_space}}</td>
            <td class="text-center fs-5">{{mydata.contact}}</td>
            <td class="text-center fs-5">{{mydata.adress|title}}</td>

          </tr>
          {% else %}
          {% for data in mydata %}
          <tr>
            <td class="text-center fs-5" >{{forloop.counter}}</td>
            <td class="text-center fs-5">{{data.coname|capitalize_after_space}}</td>
            <td class="text-center fs-5">{{data.name|capitalize_after_space}}</td>
            <td class="text-center fs-5">{{data.contact}}</td>
            <td class="text-center fs-5">{{data.adress|capitalize_after_space}}</td>
         
            <td  class="text-center fs-5">
              {% if perms.home.change_customer %}
              <a class="btn btn-sm btn-warning" href={% url 'editcustomer' id=data.id %}>Edit</a>
              {% else %}
                <p>No edit permission </p>
                {% endif%}
              {% if perms.home.delete_customer %}
              <a class=" btn btn-sm btn-danger" href={% url 'deletecustomer' id=data.id %}>Delete</a>
              {% else %}
              <p>No delete permission </p>
              {% endif%}
              
            </td>
          </tr>
          {% endfor %} 
          {% endif %}
        </tbody>
      </table>
      {% else %}
      <h4 class="text-center alert alert-warning">No Record Found</h4>
      {% endif %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){

    // Wait for 4 seconds and then hide the element with id "msg"
    setTimeout(function(){
        $("#msg").hide();
    }, 4000); // 10000 milliseconds = 10 seconds
});
   
</script>
  
{% endblock content %}