{% extends 'base.html' %} {% load custom_filters %} {% block content %}


<div class="container-fluid">
<div class="row">
  {% include 'accounts/accounts_manu.html' %}

  <div class="col-9">
    <h2 class="text-center alert alert-info">Customers List</h2>
    <div class="card py">
      <a href="{% url 'addcustomer' %}" class="btn btn-primary col-2 m-3">Add Customer</a>
      <div class="table-responsive py-2">
        {% if customers%}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Sr#
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                First Name
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Last Name
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Adress
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Contact
              </th>
             
              <th class="border-bottom fw-bolder text-center" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr id="supplier-{{ supplier.id }}">
              <td class="text-center">{{ forloop.counter }}</td>
              <td class="text-center">{{ customer.firstname }}</td>
              <td class="text-center">{{ customer.lastname }}</td>
              <td class="text-center">{{ customer.adress }}</td>
              <td class="text-center">{{ customer.contact }}</td>
             
              
              <td class="text-center">
               
                <a class="btn btn-warning" href="{% url 'editcustomer' customer.id %}">Edit</a>
                <button class="btn btn-danger delete-customer" data-customer-id="{{ customer.id }}">
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(function () {
    // Handle the delete button click
    $(".delete-customer").on("click", function (event) {
      event.preventDefault();

      var customerId = $(this).data("customer-id");
      var url = "{% url 'deletecustomer' 0 %}".replace("0",customerId);

      if (confirm("Are you sure you want to delete this gate pass?")) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              // Remove the gate pass row from the table
              $("#customer-" + supplierId).remove();
              $("#display-msg").html(
                `<h5 id= 'msg' class='alert alert-success'> ${response.message} </h5> `
              );

              // alert(response.message);
            } else {
              alert("Failed to delete the custmer.");
            }
          },
          error: function () {
            alert("An error occurred. Please try again.");
          },
        });
      }
    });
  });
</script>

{% endblock content %}