{% extends 'base.html' %} {% load custom_filters %} 
{% load custom_filters %}
{% block title %}
  Customers
{% endblock title %}


{% block content %}


<div class="container-fluid">
<div class="row">
  {% include 'accounts/accounts_menu.html' %}

  <div class="col-9">
    <h2 class="text-center alert alert-info">Customers List</h2>
    <div class="card py">
      {% if perms.home.add_customer %}
      <a href="{% url 'addcustomer' %}" class=" fs-6 btn btn-primary col-2 m-3">Add Customer</a>
      {% endif %}
      
      <div class="table-responsive py-2">
        {% if customers%}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom fw-bolder text-center fs-6" scope="col">
                Sr#
              </th>
              <th class="border-bottom fw-bolder text-center fs-6" scope="col">
                Company Name
              </th>
              <th class="border-bottom fw-bolder text-center fs-6" scope="col">
                Owner Name
              </th>
              <th class="border-bottom fw-bolder text-center fs-6" scope="col">
                Adress
              </th>
              <th class="border-bottom fw-bolder text-center fs-6" scope="col">
                Contact
              </th>
             
              <th class="border-bottom fw-bolder text-center fs-6" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr id="supplier-{{ supplier.id }}">
              <td class="text-center fs-6">{{ forloop.counter }}</td>
              <td class="text-center fs-6">{{ customer.coname|capitalize_after_space }}</td>
              <td class="text-center fs-6">{{ customer.name|capitalize_after_space }}</td>
              <td class="text-center fs-6">{{ customer.adress|capitalize_after_space }}</td>
              <td class="text-center fs-6">{{ customer.contact }}</td>  
              <td class="text-center">
               
            
                {% if perms.home.change_customer %}
                <a class="btn btn-warning fs-6" href="{% url 'editcustomer' customer.id %}">Edit</a>
                {% else %}
                <p>No edit permission </p>
                {% endif%}
                {% if perms.home.delete_customer %}
                <button class="btn btn-danger delete-customer fs-6" data-customer-id="{{ customer.id }}">
                  Delete
                </button>
                {% else %}
                <p>No delete permission </p>
                {% endif%}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(function () {
    // Handle the delete button click
    $(".delete-customer").on("click", function (event) {
      event.preventDefault();

      var customerId = $(this).data("customer-id");
      var url = "{% url 'deletecustomer' 0 %}".replace("0",customerId);

      if (confirm("Are you sure you want to delete this gate pass?")) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              // Remove the gate pass row from the table
              $("#customer-" + supplierId).remove();
              $("#display-msg").html(
                `<h5 id= 'msg' class='alert alert-success'> ${response.message} </h5> `
              );

              // alert(response.message);
            } else {
              alert("Failed to delete the custmer.");
            }
          },
          error: function () {
            alert("An error occurred. Please try again.");
          },
        });
      }
    });
  });
</script>

{% endblock content %}