{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <h2 class="text-center alert alert-info">Side Manu</h2>
      <div class="list-group">
          {% if perms.home.view_account %}
          <h4
              class="bg-primary bg-gradient alert-info rounded {% if request.path == '/product/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
              <a class="text-light" href="/product/" class="list-group-item">Products</a>
          </h4>
          {% endif %} 
          {% if perms.home.add_account %}
          <h4
              class="bg-primary bg-gradient alert-info rounded {% if request.path == '/list-sales/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
              <a class="text-light" href="/list-sales/" class="list-group-item">Sales</a>
          </h4>
          {% endif %} 
          
          {% if perms.home.add_transaction %}
          <h4
              class="bg-primary bg-gradient alert-info rounded {% if request.path == '/list-gatepasses/' or request.path == '/list_transactions/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
              <a class="text-light" href="/list-gatepasses/" class="list-group-item">Gate Pass</a>
          </h4>
          {% endif %}
  
          {% if perms.home.view_balance_sheet %}
      
          <h4
              class="bg-primary bg-gradient alert-info rounded {% if request.path == '/accounts/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
              <a class="text-light" href="/accounts/" class="list-group-item">Accounts</a>
          </h4>
          {% endif %}
  
          {% if perms.home.view_employee %}
          <h4
              class="bg-primary bg-gradient alert-info rounded {% if request.path == '/dashboard/' or request.path == '/add_employee/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
              <a class="text-light" href="/dashboard/" class="list-group-item">My Profile</a>
          </h4>
          {% endif %} 
          
  
          {% if perms.home.view_customer %}
          <h4
              class="bg-primary bg-gradient alert-info rounded p-3">
              <a class="text-light" href="/logout/" class="list-group-item">Logout</a>
          </h4>
          {% endif %} 
      </div>
  </div>
    <div class="col-lg-9 ">
      <h1> Dashboard</h1>
    </div>

  </div>
</div>




{% endblock content %}