{% extends 'base.html' %}
{% block content %}

<div style="min-height: 60px;">
  {% if messages %} 
    {% for message in messages %}
      <small id="msg" {% if message.tags %} class="{{message.tags}}" {% endif %}>
        <h5 class="alert alert-{{message.tags}}"> {{message}}</h5>
      </small>
    {% endfor %} 
  {% else %}
    &nbsp; <!-- Prevent collapse when there are no messages -->
  {% endif %}
</div>


<div class="container justify-content-center alert-info">
  <h1 class="m-3 text-center">Welcome to MU Plastic Industry</h1>
  <div class="row justify-content-center ">

    {% for blog in myblog %}
    <div class="col-10 border rounded-3 m-4 alert-success ">
      <a style="text-decoration:none;color:black" href="{% url 'detail' id=blog.id %} ">
        <h2>{{blog.title}} </h2>
        <p>{{blog.description}}
          <h5>Auther : {{blog.user}}</h5>
        </p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}