{% load static %}

<!-- Pre-loader start -->
<div class="theme-loader">
  <div class="ball-scale">
    <div class='contain'>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">

        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
      <div class="ring">
        <div class="frame"></div>
      </div>
    </div>
  </div>
</div>
<!-- Pre-loader end -->
<div id="pcoded" class="pcoded">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">

    <nav style="padding: 0 ; margin: 0 ;" class="navbar header-navbar pcoded-header">
      <div class="navbar-wrapper">
        <div style="height: 120px" class="navbar-logo">
          <div class="navbar-logo ">
            <a class="mobile-search morphsearch-search" href="#">
              <i class="ti-search"></i>
            </a>
            <a href="/">
              <img style="height: 50px" class="img-fluid" src="{% static 'assets/default/img/monogram1.jpg' %}"
                alt="Theme-Logo" />
            </a>
            <a class="ms-2 fs-4  " href="/">ZU Traders</a>
            <a class="mobile-options">
              
            </a>
          </div>
        </div>

        <div class="navbar-container container-fluid">
          <ul class="nav-left">
            <li>
              <div class="sidebar_toggle"><a href="javascript:void(0)"><i class="ti-menu"></i></a></div>
            </li>

            <li>
              <a href="#!" onclick="javascript:toggleFullScreen()">
                <i class="ti-fullscreen"></i>
              </a>
            </li>
          </ul>
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <div id="display-msg" class="text-center" style="min-height: 60px">
                {% if messages %} {% for message in messages %}
                <small id="msg" {% if message.tags %} class="{{message.tags}}" {% endif %}>
                  <h5
                    class="alert {% if message.tags == 'error' %} alert-warning {% else %} alert-{{message.tags}} {% endif %} ">
                    {{message}}</h5>
                </small>
                {% endfor %} {% else %} &nbsp;
                <!-- Prevent collapse when there are no messages -->
                {% endif %}
              </div>


              <ul class="nav-right">
                <li class="header-notification">
                  <a href="#!">
                    <i class="ti-bell"></i>
                    <span class="badge bg-c-pink"></span>
                  </a>
                  <ul class="show-notification">
                    <li>
                      <h6>Notifications</h6>
                      <label class="label label-danger">New</label>
                    </li>
                    <li>
                      <div class="media">
                        <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg"
                          alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="notification-user">John Doe</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <img class="d-flex align-self-center img-radius" src="assets/images/avatar-3.jpg"
                          alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="notification-user">Joseph William</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="media">
                        <img class="d-flex align-self-center img-radius" src="assets/images/avatar-4.jpg"
                          alt="Generic placeholder image">
                        <div class="media-body">
                          <h5 class="notification-user">Sara Soudein</h5>
                          <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                          <span class="notification-time">30 minutes ago</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>


                <li class="user-profile header-notification">
                  <a href="#!">
                    <img src="{% static 'assets/images/avatar-4.jpg' %}" class="img-radius" alt="User-Profile-Image">
                    <span>{{ request.user}}</span>
                    <i class="ti-angle-down"></i>
                  </a>
                  <ul class="show-notification profile-notification">
                    <li>
                      <a href="#!">
                        <i class="ti-settings"></i> Settings
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="ti-user"></i> Profile
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="ti-email"></i> My Messages
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <i class="ti-lock"></i> Lock Screen
                      </a>
                    </li>
                    <li>
                      <a href="/logout/">
                        <i class="ti-layout-sidebar-left"></i> Logout
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </nav>


    </nav>
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav class="pcoded-navbar">
          <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu">
            <div class="">
              <div class="main-menu-header">
                <img class="img-40 img-radius" src="{% static 'assets/images/avatar-4.jpg' %}" alt="User-Profile-Image">
                <div class="user-details">
                  <span>
                    <h4>{{request.user}}</h4>
                  </span>
                  <span id="more-details">ZU CEO<i class="ti-angle-down"></i></span>
                </div>
              </div>

              <div class="main-menu-content">
                <ul>
                  <li class="more-details">
                    <a href="#"><i class="ti-user"></i>View Profile</a>
                    <a href="#!"><i class="ti-settings"></i>Settings</a>
                    <a href="/logout/"><i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <hr>

            <ul class="pcoded-item pcoded-left-item">
              <li class="active">
                <a href="/">
                  <span class="pcoded-micon"><i class="ti-home"></i><b>D</b></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">
                    <h4>Dashboard</h4>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                  <span class="pcoded-micon"><i class="ti-layout-grid2-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">
                    <h4>Products</h4>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                  <li class=" ">
                    <a href="/product/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext " data-i18n="nav.basic-components.alert">All Products</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/product/?category=1">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Dryer</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/product/?category=2">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Washing Machine Motor</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/product/?category=3">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Fan Motor</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/product/?category=4">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Alumininum</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>

              <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                  <span class="pcoded-micon"><i class="ti-layout"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">
                    <h4>Sales</h4>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                  <li class=" ">
                    <a href="/list-sales/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">All Sales</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/list-sales?customer=True">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Customer Sales</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/list-sales?cash=True">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Cash Sales</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              <li class="">
                <a href="/list-gatepasses/">
                  <span class="pcoded-micon"><i class="ti-receipt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.dash.main">
                    <h4>Gatepass</h4>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
              </li>

              <li class="pcoded-hasmenu">
                <a href="javascript:void(0)">
                  <span class="pcoded-micon"><i class="ti-view-list-alt"></i></span>
                  <span class="pcoded-mtext" data-i18n="nav.basic-components.main">
                    <h4>Accounts</h4>
                  </span>
                  <span class="pcoded-mcaret"></span>
                </a>
                <ul class="pcoded-submenu">
                  <li class=" ">
                    <a href="/accounts/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Accounts List</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/create_accounts/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.alert">Creat Accounts</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/list_transactions/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Transactions</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/balance_sheet/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Balance Sheet</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/employees/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Employees</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/customers/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Customers</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/suppliers/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Suppliers</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <li class=" ">
                    <a href="/cheques/">
                      <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                      <span class="pcoded-mtext" data-i18n="nav.basic-components.breadcrumbs">Cheques and
                        Receipts</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>