{% extends 'base.html' %} {% load custom_filters %} 

{% block title %}
  Supplier
{% endblock title %}

{% block content %}

<div class="container-fluid">
<div class="row">
  {% include 'accounts/accounts_menu.html' %}
  <div class="col-9">
    <h2 class="text-center alert alert-info">Suppliers List</h2>
    <div class="card py">
      {% if perms.home.add_suppliers %}
      <a href="{% url 'addsupplier' %}" class=" fs-5 btn btn-primary col-2 m-3">Add Supplier</a>
      {% endif %}
      
      <div class="table-responsive py-2">
        {% if suppliers%}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Sr#
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                First Name
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Last Name
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Adress
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Contact
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Description
              </th>
              <th class="border-bottom fw-bolder text-center" scope="col">
                Action
              </th>
            </tr>
          </thead>
          <tbody>
            {% for supplier in suppliers %}
            <tr id="supplier-{{ supplier.id }}">
              <td class="text-center">{{ forloop.counter }}</td>
              <td class="text-center">{{ supplier.firstname }}</td>
              <td class="text-center">{{ supplier.lastname }}</td>
              <td class="text-center">{{ supplier.adress }}</td>
              <td class="text-center">{{ supplier.contact }}</td>
              <td class="text-center">{{ supplier.description }}</td>
              
              <td class="text-center">
               
                <a class="btn btn-warning" href="{% url 'editsupplier' supplier.id %}">Edit</a>
                <button class="btn btn-danger delete-supplier" data-supplier-id="{{ supplier.id }}">
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h4 class="text-center alert alert-warning">No Record Found</h4>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(document).ready(function () {
    // Handle the delete button click
    $(".delete-supplier").on("click", function (event) {
      event.preventDefault();

      var supplierId = $(this).data("supplier-id");
      var url = "{% url 'deletesupplier' 0 %}".replace("0",supplierId);

      if (confirm("Are you sure you want to delete this supplier?")) {
        $.ajax({
          type: "POST",
          url: url,
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
          },
          success: function (response) {
            if (response.success) {
              // Remove the gate pass row from the table
              $("#supplier-" + supplierId).remove();
              $("#display-msg").html(
                `<h5 id= 'msg' class='alert alert-success'> ${response.message} </h5> `
              );

              // alert(response.message);
            } else {
              alert("Failed to delete the supplier.");
            }
          },
          error: function () {
            alert("An error occurred. Please try again.");
          },
        });
      }
    });
  });
</script>

{% endblock content %}