asgiref==3.8.1
cffi==1.17.1
crispy-bootstrap5==2024.2
cryptography==42.0.5
Django==5.1
django-autoslug==1.9.9
django-crispy-forms==2.3
django-tinymce==3.6.1
pillow==10.4.0
pycparser==2.22
Pygments==2.17.2
sqlparse==0.5.1
tzdata==2024.1
