{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Accounts{% endblock title %}


{% block content %}

<div class="container-fluid ">

  <div class="row">
    {% include 'accounts/accounts_menu.html' %}

    <div class="col-3 ">
      <h2 class="text-center  alert alert-info">Add Account</h2>
      <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-info" {% if update %} value="Update Account" {% else %} value="Add Account"
          {% endif %}>
        <a class="btn btn-warning" href="/accounts/">Accounts</a>
      </form>
    </div>

    <div class="col-6">
      <h2 class="text-center  alert alert-info">Accounts List</h2>
      <div class="table-responsive py-2">
        {% if mydata %}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr class=" ">

              {% if update %}
              <td class="text-center fs-5">Account Id</td>
              {% else %}
              <td class="text-center fs-5">Sr.No.</td>
              {% endif %}

              <td class="text-center fs-5">Name.</td>
              <td class="text-center fs-5">Account Type</td>

              {% if update %}
              {% else %}
              <td class="text-center fs-5">Actions</td>
              {% endif %}
            </tr>
          </thead>

          <tbody>
            {% if update %}
            <tr>
              <td class="text-center fs-5">{{mydata.id}}</td>
              <td class="text-center fs-5">{{mydata.name}}</td>
              <td class="text-center fs-5">{{mydata.account_type}}</td>
            </tr>
            {% else %}

            {% for data in mydata %}
            <tr>
              <td class="text-center fs-5">{{forloop.counter}}</td>
              <td class="text-center fs-5">{{data.name}}</td>
              <td class="text-center fs-5">{{data.account_type}}</td>
              <td class="text-center fs-5">
                <a class=" btn btn-sm btn-info" href={% url 'accountreport' id=data.id %}>Details</a>
                {% if perms.home.change_account %}
                <a class="btn btn-sm btn-warning" href={% url 'editaccount' id=data.id %}>Edit</a>
                {% endif %}
                {% if perms.home.delete_account %}
                <a class=" btn btn-sm btn-danger" href={% url 'deleteaccount' id=data.id %}>Delete</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>
        {% else %}
        <h4 class="text-center  alert alert-warning">No Record Found</h4>
        {% endif %}

      </div>
    </div>
    <a href="/accountreport/"></a>
  </div>


  <script>
    $(document).ready(function () {
      console.log("i m jqurey");

      // Wait for 10 seconds and then hide the element with id "myElement"
      setTimeout(function () {
        $("#msg").hide();
      }, 4000); // 10000 milliseconds = 10 seconds
    });

  </script>



  {% endblock content %}