{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load balance %}
{% load custom_filters %}
{% block title %}Account Report{% endblock title %}

{% block content %}

<div class="container-fluid">
  <div class="row">

      {% include 'accounts/accounts_menu.html' %}
    
  <div class="col-lg-9">
 
    <h1 class="text-center alert alert-info ">Account Details</h1>


<table class="table  table-striped">
  <thead>
    <tr>
      <td>Account Name</td>
      <td>Account Category</td>
      <td>Balance</td>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{% if account.name %}
        {{account.name|capitalize_after_space}}
        {% elif account.customer %}
        {{account.customer|capitalize_after_space}}
        {% elif  account.supplier %}
        {{account.supplier|capitalize_after_space}}
        {% elif account.cheque %}
        {{account.cheque|capitalize_after_space}}
        {% else %}
            -
        {% endif %} </td>
      <td> {% if account.name %}
        General
        {% elif account.customer %}
        Customer
        {% elif  account.supplier %}
        Supplier
        {% elif account.cheque %}
        Cheque/Receipt
        {% endif %} </td>
      <td>{{ balance }} </td>
    </tr>
  </tbody>
</table>



<div class="col-12 mt-5">

        <table class="table  table-striped table-bordered" id="datatable">
          <thead class="thead-light">
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center">Description</th>
              <th class="text-center">Debit Amount</th>
              <th class="text-center">Credit Amount</th>
            </tr>
      
          </thead>
        
          <tbody>
            {% for transaction in transactions %}
            <tr>
              <td class="text-center">{{ transaction.date }}</td>
              <td class="text-center">{{ transaction.description }}</td>
              <td class="text-center">
                {% if transaction.debit_account == account %}
                  {{ transaction.amount }}
                {% else %}
                  -
                {% endif %}
              </td>
              <td class="text-center">
                {% if transaction.credit_account == account %}
                  {{ transaction.amount }}
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>
      </div>
  

{% endblock content %}