{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load balance %}
{% load custom_filters %}
{% block title %}Account Report{% endblock title %}

{% block content %}

<div class="container-fluid">
  <div class="row">

      {% include 'accounts/accounts_menu.html' %}
    
  <div class="col-lg-9">
 
    <h1 class="text-center alert alert-info ">Account Details</h1>
    <h2>Account Name : {% if account.name %}
      {{account.name|capitalize_after_space}}
      {% elif account.customer %}
      {{account.customer|capitalize_after_space}}
      {% elif  account.supplier %}
      {{account.supplier|capitalize_after_space}}
      {% elif account.cheque %}
      {{account.cheque|capitalize_after_space}}
      {% else %}
          -
      {% endif %} 
      <br>
      Account Category:
      {% if account.name %}
      General
      {% elif account.customer %}
      Customer
      {% elif  account.supplier %}
      Supplier
      {% elif account.cheque %}
      Cheque/Receipt
      {% endif %} 
<br>
      Type: {{ account.account_type }}</h2>


    <h2>Debit Transactions</h2>
    <ul>
      {% for transaction in debit_transactions %}
   
        <li>{{ transaction.date }} - {{ transaction.description }} - Amount: {{ transaction.amount }}</li>
      {% endfor %}
    </ul>
    
    <h2>Credit Transactions</h2>
    <ul>
      {% for transaction in credit_transactions %}
        <li>{{ transaction.date }} - {{ transaction.description }} - Amount: {{ transaction.amount }}</li>
      {% endfor %}
    </ul>

    <h2> Balance </h2>
    <ul>
      {{ balance }} 
    </ul>
    <h2> Initial Balance </h2>
    <ul>
      {{ account.balance }} 
    </ul>
  </div>
</div>
</div>

{% endblock content %}