{% extends 'base.html' %} {% load crispy_forms_tags %} {% load custom_filters %}
{% block title %}Balance Sheet{% endblock title %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      {% if messages %} {% for message in messages %}
      <small
        class="m-5"
        id="msg"
        {%
        if
        message.tags
        %}
        class="{{message.tags}}"
        {%
        endif
        %}
      >
        <h5 class="alert alert-success">{{message}}</h5>
      </small>
      {% endfor %} {% endif %}
    </div>

    <h1>Balance Sheet</h1>
    <ul>
      <h2><li>Assets</li></h2>
      <h4><li>Assets Accounts Balance</li></h4>

      {% for account, balance in assets.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4><li>Total Assets : {{ asset }}</li></h4>
    </ul>

    <ul>
      <h2><li>Liabilities</li></h2>
      <h4><li>Liabilities Accounts Balance</li></h4>

      {% for account, balance in liabilities.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}

      <h4><li>Total Liabilities = {{liabilitie}}</li></h4>
    </ul>

    <ul>
      <h2><li>Equity</li></h2>
      <h4><li>Equity Accounts Balance</li></h4>
      {% for account, balance in equity_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4>
        <li>Total Equity : {{ equity }}</li>
      </h4>
    </ul>

    <ul>
      <h2><li>Revenue</li></h2>
      <h4><li>Revenue Accounts Balance</li></h4>
      {% for account, balance in revenue_account.items %}
      <li>{{ account.name }} Account = {{ balance }}</li>
      {% endfor %}

      <h4>
        <li>Total Rvenue :
        {{ revenue }}</li>
      </h4>
    </ul>
    <ul>
      <h2> <li>Expense</li></h2>
    <h4> <li>Expense Accounts Balance</li></h4>
      {% for account, balance in expenses_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4> <li>Total Expences : {{ expenses }} </li></h4>
    </ul>
    <ul>
      <h2> <li>Gain</li></h2>
    <h4> <li>Gain Accounts Balance</li></h4>
      {% for account, balance in gain_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4> <li>Total Gain : {{ gain }} </li></h4>
    </ul>
    <ul>
      <h2> <li>Loss</li></h2>
    <h4> <li>Lose Accounts Balance</li></h4>
      {% for account, balance in loss_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4> <li>Total Loss : {{ loss }} </li></h4>
    </ul>


    <h2>Accounts Eqution</h2>
    <ul>
      <h4>Assets = Liabilities + Equity :</h4>
        <h4> {{asset}} = {{liabilitie}} + {{equity}} = {{liabilitie|plus:equity}} </h4>
        <h4>LHS = RHS<h4>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    console.log("i m jqurey");

    // Wait for 10 seconds and then hide the element with id "myElement"
    setTimeout(function () {
      $("#msg").hide();
    }, 4000); // 10000 milliseconds = 10 seconds
  });
</script>

{% endblock content %}
