{% extends 'base.html' %} {% load crispy_forms_tags %} {% load custom_filters %}
{% block title %}Balance Sheet{% endblock title %} {% block content %}

<div class="container-fluid">
  <div class="row">
    {% include 'accounts/accounts_manu.html' %}

<div class="col-lg-9">
    <h1 class="text-center alert alert-info ">Balance Sheet</h1>
    <ul>
      <li><h2>Assets</h2></li>
      <h4><li>Assets Accounts Balance</li></h4>

      {% for account, balance in assets.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4><li>Total Assets : {{ asset }}</li></h4>
    </ul>

    <ul>
      <li><h2>Liabilities</h2></li>
      <h4><li>Liabilities Accounts Balance</li></h4>

      {% for account, balance in liabilities.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}

      <h4><li>Total Liabilities = {{liabilitie}}</li></h4>
    </ul>

    <ul>
      <li><h2>Equity</h2></li>
      <h4><li>Equity Accounts Balance</li></h4>
      {% for account, balance in equity_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4>
        <li>Total Equity : {{ equity }}</li>
      </h4>
    </ul>

    <ul>
      <li><h2>Revenue</h2></li>
      <h4><li>Revenue Accounts Balance</li></h4>
      {% for account, balance in revenue_account.items %}
      <li>{{ account.name }} Account = {{ balance }}</li>
      {% endfor %}

      <h4>
        <li>Total Rvenue :
        {{ revenue }}</li>
      </h4>
    </ul>
    <ul>
       <li><h2>Expense</h2></li>
    <h4> <li>Expense Accounts Balance</li></h4>
      {% for account, balance in expenses_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4> <li>Total Expences : {{ expenses }} </li></h4>
    </ul>
    <ul>
       <li><h2>Gain</h2></li>
    <h4> <li>Gain Accounts Balance</li></h4>
      {% for account, balance in gain_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4> <li>Total Gain : {{ gain }} </li></h4>
    </ul>
    <ul>
       <li><h2>Loss</h2></li>
    <h4> <li>Lose Accounts Balance</li></h4>
      {% for account, balance in loss_account.items %}
      <li>{{ account.name }} = {{ balance }}</li>
      {% endfor %}
      <h4> <li>Total Loss : {{ loss }} </li></h4>
    </ul>


    
    <ul>
      <h2>Accounts Eqution</h2>
      <h4>Assets = Liabilities + Equity :</h4>
        <h4> {{asset}} = {{liabilitie}} + {{equity}} = {{liabilitie|plus:equity}} </h4>
        <h4>LHS = RHS<h4>
    </ul>
  </div>
</div>
</div>
<script>
  $(document).ready(function () {
    console.log("i m jqurey");

    // Wait for 10 seconds and then hide the element with id "myElement"
    setTimeout(function () {
      $("#msg").hide();
    }, 4000); // 10000 milliseconds = 10 seconds
  });
</script>

{% endblock content %}
