{% extends "base.html" %}
{% load custom_filters %}
{% block title %}
Accounts
{% endblock title %}
{% block content %}


<div class="container-fluid">
  <div class="row">
    {% include 'accounts/accounts_menu.html' %}
    <div id="product" class="col-lg-9 ">
      <h2 class="text-center alert alert-info ">Select an Account Type to Create</h2>
      <div class="text-center  mb-3 ">

        <h4
          class=" btn bg-success bg-gradient  rounded fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
          <a class="text-light" href="/add_account" class="list-group-item ">General</a>
        </h4>
        <h4
          class=" btn bg-success bg-gradient  rounded fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
          <a class="text-light" href="/add_account?account_type=employee" class="list-group-item ">Employee</a>
        </h4>

        <h4
          class=" btn bg-success bg-gradient  rounded fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
          <a class="text-light" href="/add_account?account_type=customer" class="list-group-item ">Customer</a>
        </h4>
        <h4
          class=" btn bg-success bg-gradient rounded fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
          <a class="text-light" href="/add_account?account_type=supplier" class="list-group-item">Supplier</a>
        </h4>
        <h4
          class=" btn bg-success bg-gradient rounded fs-4 {% if request.path == '/add_account/' %} bg-secondary bg-gradient text-light rounded {%endif%} p-3">
          <a class="text-light" href="/add_account?account_type=cheque" class="list-group-item">Cheque/Reciept</a>
        </h4>
      </div>
      <h2 class="text-center alert alert-info ">Accounts List</h2>
      <div class="table-responsive py-2">
        {% if mydata %}
        <table class="table table-flush" id="datatable">
          <thead class="thead-light">
            <tr class=" ">
              <td class="text-center fs-5 ">Sr.No.</td>
              <td class="text-center fs-5">Name.</td>
              <td class="text-center fs-5">Account Category</td>
              <td class="text-center fs-5">Account Type</td>
              {% if update %}
              {% else %}
              <td class="text-center fs-5">Actions</td>
              {% endif %}
            </tr>
          </thead>
          {{update}}
          <tbody>
            {% if update %}
            {% for data in mydata %}
            <tr>
              <td class="text-center fs-5">{{forloop.counter}}</td>
              <td class="text-center fs-5">{{mydata.name}}</td>
              <td class="text-center fs-5">{{mydata.account_type}}</td>
            </tr>
            {% endfor %}
            {% else %}
            {% for data in mydata %}
            <tr>
              <td class="text-center fs-5">{{forloop.counter}}</td>
              {% if data.name %}
              <td class=" fs-5">{{data.name|capitalize_after_space}}</td>
              {% elif data.customer %}
              <td class=" fs-5">{{data.customer|capitalize_after_space}}</td>
              {% elif  data.supplier %}
              <td class=" fs-5">{{data.supplier|capitalize_after_space}}</td>
              {% elif data.cheque %}
              <td class=" fs-5">{{data.cheque|capitalize_after_space}}</td>
              {% else %}
              <td class="text-center fs-5">-</td>
              {% endif %}

              {% if data.name %}
              <td class="text-center fs-5">General</td>
              {% elif data.customer %}
              <td class="text-center fs-5">Customer</td>
              {% elif  data.supplier %}
              <td class="text-center fs-5">Supplier</td>
              {% elif data.cheque %}
              <td class="text-center fs-5">Cheque/Receipt</td>
              {% else %}
              <td class="text-center fs-5">-</td>
              {% endif %}


              <td class="text-center fs-5">{{data.account_type}}</td>
              <td class="text-center fs-5">
                <a class="fs-5 btn btn-sm btn-info" href={% url 'accountreport' id=data.id %}>Details</a>
                {% if perms.home.change_account %}
                <a class=" fs-5 btn btn-sm btn-warning" href={% url 'editaccount' id=data.id %}>Edit</a>
                {% endif %}
                {% if perms.home.delete_account %}
                <a class="fs-5 btn btn-sm btn-danger" href={% url 'deleteaccount' id=data.id %}>Delete</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
            {% endif %}
          </tbody>
        </table>

        {% else %}
        <h4 class="text-center fs-5 alert alert-warning">No Record Found</h4>
        {% endif %}
      </div>
    </div>
  </div>

  {% endblock content %}