{% extends 'base.html' %} {% load custom_filters %}

{% block title %}
Sales
{% endblock title %}

{% block content %}


  


<div class="container-fluid">
  <div class="row">
    {% include 'sale/sale_menu.html' %}

    {% if not customer and not cash %}
    <div class="col-9">
      <h2 class="text-center alert alert-info"> Select Sale Receipts </h2>
</div>
{% endif %}
    {% if customer %}
      
    <div class="col-9">
      <h2 class="text-center alert alert-info">Customer Sales Receipt List [Total Sales Rs.={{total_customer_sale}}]</h2>
      {% if perms.home.add_sale_receipt %}
      <a class="btn btn-primary mb-2 " href="{% url 'create_salereceipt' %}">Create Customer Sale Receipt</a>
      {% endif %}
      <div class="card py">
        <div class="table-responsive py-2">
          {% if salereceipts%}
          <table class="table table-flush" id="datatable">
            <thead class="thead-light">
              <tr>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Sr#
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Ref#
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Date
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Cutomer Name
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Products Qty
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Bill Amount
                </th>
                <th class="border-bottom fw-bolder text-center" scope="col">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for salereceipt in salereceipts %}
              <tr id="salereceipt-{{ salereceipt.id }}">
                <td class="text-center">{{ forloop.counter }}</td>
                <td class="text-center">{{ salereceipt.id }}</td>
                <td class="text-center">{{ salereceipt.date_created }}</td>
                <td class="text-center">{{ salereceipt.customer_name|title }}</td>
                <td class="text-center">
                  {{ salereceipt_items_pro|get_item:salereceipt.id }}
                </td>
                <td class="text-center">
                  {{ total_amount|get_amount:salereceipt.id}}
                </td>
                <td class="text-center">
                  {% if perms.home.add_transaction %}
                  {% if salereceipt.make_transaction %}
                  <button class="btn alert-success" href="#" disabled>Transacton Added </button>
                  {% else %}
                  <a class="btn btn-info" href="{% url 'maketransaction' salereceipt.id %}">Make Transacton</a>
                  {% endif %}
                  {% endif %}
                  <a class="btn btn-success" href="{% url 'print_salereceipt' salereceipt.id %}">Print</a>
                  {% if perms.home.view_sale_receipt %}
                  <a class="btn btn-warning" href="{% url 'edit_salereceipt' salereceipt.id %}">Edit</a>
                  {% endif %}
                  <button class="btn btn-danger delete-salereceipt" data-salereceipt-id="{{ salereceipt.id }}">
                    Delete
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <h4 class="text-center alert alert-warning">No Record Found</h4>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if cash %}
        
      <div class="col-9 ">
        <h2 class="text-center alert alert-info">Cash Sales Receipt List [Total Sales Rs. = {{total_cash_sale}}]</h2>
        {% if perms.home.add_sale_receipt %}
        <a class="btn btn-primary mb-2 " href="{% url 'create_cash_salereceipt' %}">Create Cash Sale Receipt</a>

        {% endif %}
        <div class="card py">

          <div class="table-responsive py-2">
            {% if cash_salereceipts%}
            <table class="table table-flush" id="datatable">
              <thead class="thead-light">
                <tr>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Sr#
                  </th>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Ref#
                  </th>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Date
                  </th>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Cutomer Name
                  </th>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Products Qty
                  </th>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Bill Amount
                  </th>
                  <th class="border-bottom fw-bolder text-center" scope="col">
                    Action
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for salereceipt in cash_salereceipts %}
                <tr id="salereceipt-{{ salereceipt.id }}">
                  <td class="text-center">{{ forloop.counter }}</td>
                  <td class="text-center">{{ salereceipt.id }}</td>
                  <td class="text-center">{{ salereceipt.date_created }}</td>
                  <td class="text-center">{{ salereceipt.customer|title }}</td>
                  <td class="text-center">
                    {{ salereceipt_items_pro|get_item:salereceipt.id }}
                  </td>
                  <td class="text-center">
                    {{ cash_total_amount|get_amount:salereceipt.id}}
                  </td>
                  <td class="text-center">

                    <a class="btn btn-success" href="{% url 'print_salereceipt' salereceipt.id %}">Print</a>
                    {% if perms.home.view_sale_receipt %}
                    <a class="btn btn-warning" href="{% url 'edit_cashsale_receipt' salereceipt.id %}">Edit</a>
                    {% endif %}
                    <button class="btn btn-danger delete-salereceipt" data-salereceipt-id="{{ salereceipt.id }}">
                      Delete
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <h4 class="text-center alert alert-warning">No Record Found</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    </div>
  </div>


  <script>
    $(document).ready(function () {
      // Handle the delete button click
      $(".delete-salereceipt").on("click", function (event) {
        event.preventDefault();
        var salereceiptId = $(this).data("salereceipt-id");
        var url = "{% url 'delete_salereceipt' 0 %}".replace(
          "0",
          salereceiptId
        );
        if (confirm("Are you sure you want to delete this sale receipt?")) {
          $.ajax({
            type: "POST",
            url: url,
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            success: function (response) {
              if (response.success) {
                // Remove the gate pass row from the table
                $("#salereceipt-" + salereceiptId).remove();
                $("#display-msg").html(
                  `<h5 id= 'msg' class='alert alert-success'> ${response.message} </h5> `
                );
                // alert(response.message);
              } else {
                alert("Failed to delete the gate pass.");
              }
            },
            error: function () {
              alert("An error occurred. Please try again.");
            },
          });
        }
      });
    });
  </script>

  {% endblock content %}