



<div class="col-lg-3">
    <h2 class="text-center alert alert-info">Products Menu</h2>
    <div class="list-group">

      <h4 class="bg-primary bg-gradient alert-info rounded  p-3 "><a class="text-light" href="/product/" class="list-group-item">All Products</a></h4>
      {% for category in categories %}
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light" href="?category={{category.id}}" class="list-group-item">{{category.name}}</a></h4>
      {% endfor %}
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light" href="/add_product/" class="list-group-item">Add Product</a></h4>
      <h4 class="bg-primary bg-gradient rounded p-3 "><a class="text-light" href="/category/" class="list-group-item">Add Category</a></h4>
    </div>
  </div>