{% extends "base.html" %} {% block title %}Products{% endblock title %}

{% load custom_filters %}

{% block content %}


<div class="container-fluid">

  <div class="row">

    {% include 'stock/product_manu.html' %}


    <div id="product" class="col-lg-9 ">
      <h2 class="text-center alert alert-info ">Products List</h2>
      <div class="row">
        {% if products %}

        {% for product in products %}

        <div class="card mx-auto mb-3" id="{{product.id}}" style="width: 18rem">

          <img src="{{product.pro_img.url}}" class="card-img-top mt-2" alt="..." />

          <div class="card-body p-0">
            <h5 class="card-title mt-2">Prodcut Name:{{product.productname|title}}</h5>
            <p class="card-text">Sizes: {{product.product_size}}</p>
          </div>
        </div>

        {% endfor %}
      </div>
      {% else %}


      <h3 class="alert alert-light border rounded">Curruntly No Item to Show</h3>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}