{% extends 'base.html' %}
{% load custom_filters %}
{% load crispy_forms_tags %}
{% block title %}
Edit Gatepass
{% endblock title %}


{% block content %}


<style>
    body {
        font-family: Arial, sans-serif;
    }

    .table-container {
        width: 80%;
        margin: 0 auto;
        border: 1px solid #000;
        padding: 20px;
        margin-top: 50px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th,
    td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    .header-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .footer-section {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

    .col-1 {
        width: 5%;
    }

    .col-2 {
        width: 35%;
    }

    .tbcol-3 {
        width: 10%;
    }

    .col-4 {
        width: 10%;
    }

    .col-5 {
        width: 15%;
    }

    .col-6 {
        width: 25%;
    }
</style>

    <div class="table-container">
        <h1 class="text-center">Please Allow The Material Outside</h1>

        <form method="POST" {% if  gatepass.id %}
        action={% url 'edit_gatepass' gatepass.id %} {% else %}
        action={% url 'edit_gatepass' %}{% endif %}>

            {% csrf_token %}

            <div class="header-section">
                <div>
                    <p>
                        {{ form_gatepass.returnable }}

                    </p>
                    <p><strong>Date:</strong> Auto</p>
                    <p class="d-flex"><strong>Vehicle:</strong></p>
                    <p><strong>Time:</strong> Auto</p>
                </div>
                <div style="margin-top: 115px;">


                    <span>{{ form_gatepass.vehicle}}</span>


                </div>

                <div style="margin-left:250px;width:120px">
                    <p style="margin-top:5px"><strong>Dispatch For:</strong> </p>
                    <p style="margin-top:15px"><strong>Name of Site:</strong></p>
                    <p style="margin-top:20px"><strong>Per. Name:</strong></p>
                    <p style="margin-top:25px"><strong>Ph. No:</strong></p>
                </div>
                <div style="margin-right:50px">
                    <p> <span class="">{{ form_gatepass.dispatch_for }}</span></p>
                    <p><span class="">{{ form_gatepass.name_of_site }}</span></p>
                    <p><span class="">{{ form_gatepass.person_name }}</span></p>
                    <p><span class=""> {{ form_gatepass.phone_number }}</span></p>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <td>Auto</td>
                        <td>{{ form.product|as_crispy_field }}</td>
                        <td>{{ form.quantity|as_crispy_field }}</td>
                        <td>Auto</td>
                        <td>Auto</td>
                        <td>{{ form.remarks|as_crispy_field }}</td>
                        <th class="col-5 text-center">
                            <button class="btn btn-primary" type="submit" name="add_product">Add Product</button>
                        </th>

                    </tr>
                    <tr>
                        <th class="col-1 text-center">Sr#</th>
                        <th class="col-6 text-center">Description</th>
                        <th class="tbcol-3 text-center">Qty.</th>
                        <th class="col-5 text-center">Unit</th>
                        <th class="tbcol-3 text-center">Weight (Kgs)</th>
                        <th class="col-5 text-center">Remarks</th>
                        <th class="col-5 text-center">Actions</th>

                    </tr>
                </thead>

                <tbody>

                    {% if gatepass_products %}

                    {% for gatepass_product in gatepass_products %}

                    <td class="text-center">{{ forloop.counter }}</td>
                    <td>{{ gatepass_product.product.productname }}</td>
                    <td class="text-center">{{ gatepass_product.quantity }}</td>
                    <td>{{ gatepass_product.product.unit }}</td>
                    <td>{{ gatepass_product.quantity|multiply:gatepass_product.product.product_weight}}</td>
                    <td>{{ gatepass_product.remarks }}</td>
                    <td class="text-center">

                        <a href="{% url 'update_delete_gatepass_item' gatepass_product.id  %}?gatepass_id={{gatepass.id}} "
                            class="btn btn-danger m-3">X</a>
                    </td>



                    </tr>
                    {% endfor %}

                    {% endif %}

                </tbody>
            </table>

            <div class="footer-section">
                <div>
                    <p>Prepared By</p>
                    <p>Name: {{request.user}}</p>
                    <p>Sign: ___________________</p>
                </div>
                <div>
                    <p>Authorized By</p>
                    <p>Name: ___________________</p>
                    <p>Sign: ___________________</p>
                </div>
                <div>
                    <p>Received By</p>
                    <p>Name: ___________________</p>
                    <p>Sign: ___________________</p>
                </div>
            </div>

        </form>

    </div>
    <div class="container mt-5 mb-5 text-center">
        <a href="{% url 'list_gatepasses' %}" class="btn btn-success m-3">Finalize Gate Pass</a>
        <a href="{% url 'list_gatepasses' %}" class="btn btn-info m-3">All Gate Pass</a>
        <a href="{% url 'list_gatepasses' %}" class="btn btn-info m-3">Update</a>
    </div>

    <!-- <script>
    document.getElementById('cancel-button').addEventListener('click', function() {
        // Send a request to the server to clear the session
        fetch("", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '',
            }
        }).then(response => {
            if (response.ok) {
                window.location.href = "{% url 'list_gatepasses' %}";
            }
        });
    });
</script> -->



    {% endblock content %}