
{% load custom_filters %}

{% if update %}

{% if gatepass_products %}
{% for product in gatepass_products %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ product.product.productname }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.product.unit }}</td>
    <td>{{ product.quantity|multiply:product.product.product_weight}}</td>
    <td>{{ product.remarks }}</td>
    <td><a href="{% url 'update_delete_gatepass_item' product.id  %}?gatepass_id={% if gatepass.id %}{{gatepass.id}}{% else %}{{gatepass_id}}{% endif %}" class="btn btn-danger m-3">X</a></td>
</tr>
{% endfor %} 
{% endif %}
    
{% else %}

{% if gatepass_products %}
{% for product in gatepass_products %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ product.product.productname }}</td>
    <td>{{ product.quantity }}</td>
    <td>{{ product.product.unit }}</td>
    <td>{{ product.quantity|multiply:product.product.product_weight }}</td>
    <td>{{ product.remarks }}</td>
    <td><a href="{% url 'delete_gatepass_item' product.id  %}?gatepass_id={% if gatepass.id %}{{gatepass.id}}{% else %}{{gatepass_id}}{% endif %}" class="btn btn-danger m-3">X</a></td>
</tr>
{% endfor %} 
{% endif %}

{% endif %}